<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head lang="en">
<meta charset="UTF-8" />
<title>Spring Data REST</title>
<link rel="stylesheet" href="/main.css" />
</head>

<body>

	<div>Microservice X home page for Web access</div>
	<br />
	<div>Can be used for debugging, monitoring, etc....</div>
	<br />
	<div>
		<div sec:authorize="isAuthenticated()">
			Authenticated as <span sec:authentication="name"></span>
		</div>
		<div sec:authorize="isAuthenticated()">
			Roles: <span sec:authentication="principal.authorities"></span>
		</div>
	</div>



<script src="js/test.js"></script>
</body>

</html>